<div class="card">
  <h2 [ngStyle]="{
  color: card.title.length < 5 ? 'blue' : 'red',
  fontWeight: card.title.length < 7 ? 'normal' : 'bold'
  }">{{ind}} - {{card.title}}</h2>
  <p class="text" [ngClass]="{
    blue: textColor === 'blue',
    red: textColor === 'red',
    green: textColor === 'green'
  }">{{ card.text}} sdf</p>
  {{number}}
  {{array}}
  {{date | date:'HH MMMM yyyy':null:'ru'}}
  <p class="text"
     [class.blue]="textColor === 'blue'"
     [class.red]="textColor === 'red'"
     [class.green]="textColor === 'green'"
  >{{ card.text}} sdf</p>
  <pre>{{obj | json}}</pre>
  <p>{{getInfo()}}</p>
  <br>
  <div>
    <button (click)="textColor = 'blue'">Set blue</button>
    <button (click)="textColor = 'red'">Set red</button>
    <button (click)="textColor = 'green'">Set green</button>
  </div>

  <div>
    <button (click)="changeTitle()">changeTitle</button>
    <button (click)="card.title='inline title'">changeTitle inline</button>
    <label>
      <!--      two way binding двустороннее связывание-->
      <input type="text" (input)="onInput($event)" [value]="card.title">
      <br>
      <input type="text" #myInput (input)="onMyInput(myInput.value)"
             [value]="card.title">
      <br>
      <input type="text" [(ngModel)]="card.title"
             (ngModelChange)="changeHandler()">
    </label>
  </div>
  <div>
    <!--    Не верно   -->
    <img src="{{imgUrl}}" alt="d">
    <!--    Верно   -->
    <img [src]="imgUrl" alt="d">
    <button [disabled]="disabled">button</button>
  </div>
</div>


