.card {
  padding: .5rem 1rem;
  border: 1px dashed grey;

  h2 {
    margin: .5rem;
  }

  .text {
    font-size: 1.5rem;
    font-weight: bold;

    &.red {
      color: darkred;
    }

    &.blue {
      color: darkblue;
    }

    &.green {
      color: darkgreen;
    }
  }
}
