<div class="container">
  <h1>Hello Angular</h1>
  <hr>
  <button (click)="toggleCards()">toggle cards</button>
  <hr>
  <app-form></app-form>
  <div *ngIf="toggle; else noCards">
    <app-card
      *ngFor="let iterCard of cards; let ind = index"
      [card]="iterCard"
      [ind]="ind + 1"
    ></app-card>
  </div>

  <ng-template #noCards>
    <p>Cards hidden</p>
  </ng-template>
</div>
